<section id="about" class="about">
  <div class="container">

    <div class="section-title" *ngFor="let persona of personas">
      <h2>Sobre mi <button style="margin: 5px;"   *ngIf="ulogged!=''" (click)="editarPersona(persona)" class="btn botonesEdit btn-primary"><i class="bi bi-pen"></i></button></h2>
      <p>{{persona.aboutMe}}</p>
    </div>

    <!--editar persona -->
    <div class="card " id="agregarPer" style="margin: 5px; display: none;">
      <div class="card-body">
        <h5 class="titulo">{{ accion }} Persona </h5>
        <form [formGroup]="form" (ngSubmit)="updatePersona()">
          <div class="input-group input-group-lg mb-3">
            <span class="input-group-text">
              <i class="fas fa-user" [class.green-icon]="this.form.get('nombre')?.valid"
                [class.red-icon]="this.form.get('nombre')?.invalid && this.form.get('nombre')?.touched"></i>
            </span>
            <input formControlName="nombre" type="text" class="form-control" placeholder="Nombre">
          </div>

          <div class="input-group input-group-lg mb-3">
            <span class="input-group-text">
              <i class="fas fa-user" [class.green-icon]="this.form.get('apellido')?.valid"
                [class.red-icon]="this.form.get('apellido')?.invalid && this.form.get('apellido')?.touched"></i>
            </span>
            <input formControlName="apellido" type="text" class="form-control" placeholder="Apellido">
          </div>

          <div class="input-group input-group-lg mb-3">
            <span class="input-group-text">
              <i class="fas fa-user" [class.green-icon]="this.form.get('email')?.valid"
                [class.red-icon]="this.form.get('email')?.invalid && this.form.get('email')?.touched"></i>
            </span>
            <input formControlName="email" type="text" class="form-control" placeholder="Email">
          </div>

          <div class="input-group input-group-lg mb-3">
            <span class="input-group-text">
              <i class="fas fa-user" [class.green-icon]="this.form.get('fotoPortada')?.valid"
                [class.red-icon]="this.form.get('fotoPortada')?.invalid && this.form.get('fotoPortada')?.touched"></i>
            </span>
            <input formControlName="fotoPortada" type="text" class="form-control" placeholder="Url Foto de Portada">
          </div>
          <div class="input-group input-group-lg mb-3">
            <span class="input-group-text">
              <i class="fas fa-user" [class.green-icon]="this.form.get('fotoPerfil')?.valid"
                [class.red-icon]="this.form.get('fotoPerfil')?.invalid && this.form.get('fotoPerfil')?.touched"></i>
            </span>
            <input formControlName="fotoPerfil" type="text" class="form-control" placeholder="Url Foto de Perfil">
          </div>
          <div class="input-group input-group-lg mb-3">
            <span class="input-group-text">
              <i class="fas fa-user" [class.green-icon]="this.form.get('telefono')?.valid"
                [class.red-icon]="this.form.get('telefono')?.invalid && this.form.get('telefono')?.touched"></i>
            </span>
            <input formControlName="telefono" type="text" class="form-control" placeholder="Telefono">
          </div>
          <div class="input-group input-group-lg mb-3">
            <span class="input-group-text">
              <i class="fas fa-user" [class.green-icon]="this.form.get('lugarNacimiento')?.valid"
                [class.red-icon]="this.form.get('lugarNacimiento')?.invalid && this.form.get('lugarNacimiento')?.touched"></i>
            </span>
            <input formControlName="lugarNacimiento" type="text" class="form-control" placeholder="Lugar de Nacimiento">
          </div>
          <div class="input-group input-group-lg mb-3">
            <span class="input-group-text">
              <i class="fas fa-user" [class.green-icon]="this.form.get('dni')?.valid"
                [class.red-icon]="this.form.get('dni')?.invalid && this.form.get('dni')?.touched"></i>
            </span>
            <input formControlName="dni" type="text" class="form-control" placeholder="Dni">
          </div>
          <div class="input-group input-group-lg mb-3">
            <span class="input-group-text">
              <i class="fas fa-user" [class.green-icon]="this.form.get('domicilio')?.valid"
                [class.red-icon]="this.form.get('domicilio')?.invalid && this.form.get('domicilio')?.touched"></i>
            </span>
            <input formControlName="domicilio" type="text" class="form-control" placeholder="Domicilio">
          </div>
          <div class="input-group input-group-lg mb-3">
            <span class="input-group-text">
              <i class="fas fa-user" [class.green-icon]="this.form.get('aboutMe')?.valid"
                [class.red-icon]="this.form.get('aboutMe')?.invalid && this.form.get('aboutMe')?.touched"></i>
            </span>
            <input formControlName="aboutMe" type="text" class="form-control" placeholder="Sobre ti">
          </div>
          <div class="input-group input-group-lg mb-3">
            <span class="input-group-text">
              <i class="fas fa-calendar-alt" [class.green-icon]="this.form.get('fechaNacimiento')?.valid"
                [class.red-icon]="this.form.get('fechaNacimiento')?.invalid && this.form.get('fechaNacimiento')?.touched"></i>
            </span>
            <input formControlName="fechaNacimiento" maxlength="10" type="text" class="form-control"
              placeholder="Fecha de nacimiento">
          </div>
          <div class="d-grid gap-2">
            <button [disabled]="this.form.invalid" type="submit" class="btn btn-success btn-lg">
              <i class="fas fa-database"></i>&nbsp; Editar Persona</button>
          </div>
        </form>
      </div>
    </div>

    <!--front-->
    <div class="row">
      <div class="col-lg-4" data-aos="fade-right" *ngFor="let persona of personas">
        <img src="{{persona.fotoPerfil}}" class="img-fluid" alt="">
      </div>
      <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
        <h3>Mis datos: </h3>
        <div class="row">
          <div class="col-lg-6">
            <ul *ngFor="let persona of personas">
              <li><i class="bi bi-chevron-right"></i> <strong>Fecha de nacimiento:</strong>
                <span>{{persona.fechaNacimiento | date:'dd/MM/yyyy'}}</span>
              </li>
              <li><i class="bi bi-chevron-right"></i> <strong>Dni:</strong> <span>{{persona.dni}}</span></li>
              <li><i class="bi bi-chevron-right"></i> <strong>Domicilio:</strong> <span>{{persona.domicilio}}</span>
              </li>
              <li><i class="bi bi-chevron-right"></i> <strong>Lugar de Nacimiento:</strong>
                <span>{{persona.lugarNacimiento}}</span>
              </li>
            </ul>
          </div>
          <div class="col-lg-6">
            <ul *ngFor="let persona of personas">
              <li><i class="bi bi-chevron-right"></i> <strong>Edad:</strong> <span > {{edad}}</span></li>
              <li><i class="bi bi-chevron-right"></i> <strong>Telefono:</strong> <span>{{persona.telefono}}</span></li>
              <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>{{persona.email}}</span></li>

            </ul>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>