<nav id="navbar" class="nav-menu navbar">
        <ul>
                <li><a href="#hero" class="nav-link scrollto active"><i class="bx bx-home"></i>
                                <span>Inicio</span></a></li>
                <li><a href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>Sobre Mi</span></a>
                </li>
                <li><a href="#resume" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>Educacion</span></a>
                </li>
                <li><a href="#skills" class="nav-link scrollto"><i class="bi bi-laptop"></i>
                                <span>Tecnologias</span></a></li>
                <li><a href="#portfolio" class="nav-link scrollto"><i class="bi bi-card-list"></i>
                                <span>Proyectos</span></a></li>
                <li><a href="#contact" class="nav-link scrollto"><i class="bx bx-envelope"></i>
                                <span>Contáctame</span></a></li>
        </ul>
</nav>