<div class="profile" *ngFor="let persona of personas">
    <img src="{{persona.fotoPerfil}}" alt="" class="img-fluid rounded-circle" style="height: 100px; width: 100px;">
    <h1 class="text-light"><a href="index.html" *ngFor="let persona of personas">{{persona.nombre + " "+ persona.apellido}}</a></h1>
    <button style="margin: 5px;" *ngIf="ulogged!=''" (click)="openModal()" class="btn botonesEdit btn-primary"><i class="bi bi-plus">Agregar Contacto</i></button>
    <div class="social-links mt-3 text-center"  >
        <a href="#" *ngFor="let contacto of contactos"  href="{{contacto.url}}" target="_blank">
            <i class="bx bxl-{{contacto.nombre}}"></i>
            <button style="margin: 5px;" *ngIf="ulogged!=''" (click)="eliminarContacto(contacto.id_contacto)" class="btn botonesEdit btn-danger"><i class="bi bi-trash"></i></button>
        </a>
    </div>
</div>

<div *ngIf="modalSwitch == true">
  <app-modal></app-modal>
</div>
